@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Gentium+Book+Basic|Lato:400,700');


/*
* {
  border: black solid 2px;
  padding: 7px;
  margin: 7px;
}
*/

/* Baseline Styles */


/* Typography */

body {
  font-family: "Gentium Book Basic", serif;
}

h1, h2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: darkblue;
}

/* Header Styles */

header {
  width: 400px;
  background-color: blue;
  margin-bottom: 15px;
  border-radius: 20px;
  padding-bottom: 15px;
  margin: 0px auto 50px auto;
  transform: rotate(-7deg);
}

header h1 {
  color: white;
  text-align: center;
  font-size: 600%;
  margin-bottom: 0px;
}

header h2 {
  color: white;
  text-align: center;
  font-size: 300%;
  margin-top: 0px;
  margin-bottom:3px;
}

header .fullname {
  font-family: "Architects Daughter";
  background-color: white;
  margin-bottom: 15px;
  display: block;
  width: 80%;
  margin: 15px auto 0px auto;
  font-size: 200%;
  text-align: center;
  border-radius: 10px;
}


/* Main Styles */

main {
  width: 700px; /* Let's set our content width to something static so the line lengths are sane. */
  margin: 8px auto 8px auto;
}

img {
  display: block;
  width: 25%;
/*  margin: 0px auto 0px auto;*/
}



/* Footer styles */

footer {
  width: 700px;
  margin: 15px auto;
  border-top: solid 3px blue;
}

footer p {
  margin: 15px auto;
  color: darkgrey;
  font-size: 80%;
}
