@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Gentium+Book+Basic|Lato:400,700');

/* We'll leave this here, so we can turn it on and visually inspect how our element layout */
/*
* {
  border: black solid 2px;
  padding: 7px;
  margin: 7px;
}
*/

/*
 * Baseline Styles
 */

/* Typography */

/* Setting the body on a slightly wonky serif */
body {
  font-family: "Gentium Book Basic", serif;
}

/* Using our sans-serif for all sectioning */
h1, h2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  /* Half the puzzle of getting headers closer to paragraph content */
  margin: 18px 0px 4px 0px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

h1 {
  margin-top: 17px;
  border-bottom: 3px solid blue;
}

/* Set our leading to something sane */
p {
  line-height: 150%;
  margin: 0px 0px 8px 0px;
}

ul {
  margin-top: 2px;
}

/* Header Styles */

header {
  /* Make a blue box, of a finite width, with a bit of extra space on the bottom edge */
  width: 400px;
  background-color: blue;
  padding-bottom: 15px;
  margin-bottom: 15px;
  /* border-radius gives the header container rounded corners */
  border-radius: 20px;
  /* Margin trick to center the header */
  margin: 0px auto 50px auto;
  /* Rotate the whole thing a bit to look charming and such */
  transform: rotate(-7deg);
}

/* Only specifies the h1 element(s) in the header container */
header h1 {
  color: white;
  /* Centers text within the container */
  text-align: center;
  font-size: 600%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 15px;
  background-color: blue;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Only specifies the h2 element(s) in the header container */
header h2 {
  color: white;
  /* Centers text within the container */
  text-align: center;
  font-size: 300%;
  margin-top: 0px;
  margin-bottom: 3px;
  background-color: blue;
}

/* Our first use of a class! We could have just selected the paragraph element, though... */
header .fullname {
  font-family: "Architects Daughter", cursive;
  background-color: white;
  width: 90%;
  margin: 15px auto 5px auto;
  font-size: 350%;
  text-align: center;
  border-radius: 10px;
}


/* Main Styles */

main {
  /* Let's set our content width to something static so the line lengths are sane. */
  width: 640px;
  margin: 8px auto 8px auto;
}

img {
  display: block;
  width: 25%;
}



/* Footer styles */

footer {
  width: 660px;
  margin: 15px auto;
  border-top: solid 3px blue;
}

footer p {
  margin: 15px auto;
  /* I really enjoy that darkgrey is lighter than grey */
  color: darkgrey;
  font-size: 80%;
}
